.img-thumbnail{
    width:  100px;
    height: 100px;
    /* background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; */
    object-fit: cover;
    margin: 38px;
}

.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid;
}